<mat-toolbar color="primary" style="padding-top: 10px; padding-left: 50px; padding-right: 50px; padding-bottom: 10px;">
  <mat-toolbar-row>
    <span><img src="assets/deutsche-telekom-logo.svg" /></span>
    <span style="flex: 1 1 auto;"></span>
    <span><img src="assets/brand-claim.svg" /></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar style="padding-top: 10px; padding-left: 50px; padding-right: 50px; padding-bottom: 10px; background-color: white;" class="mat-elevation-z2">
  <mat-toolbar-row>
    <span style="font-size: 1.5em;"><strong>Maqueta<span style="color: #E20074;">Magenta</span></strong></span>
    <span style="flex: 1 1 auto;"></span>
    <span><a mat-button routerLink="/" style="font-size: 1em; margin-left: 10px;"><img src="assets/ghost.png" width="22px" height="22px" /> Magenta <span style="color: #E20074;"></span> <strong>Challenge</strong></a></span>
    <span style="flex: 1 1 auto;"></span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
